body,
html {
    margin: 0;
    padding: 0;
}

.container{
    background-clip:padding-box;
    border: 5px #ff0000 dotted;
    background-color: transparent;
    width: 370px;
    margin: 25px;
  
 
}
img {
    padding: 20px 20px 20px 20px;
    width:334px;
    height:205px;
}